body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	padding-top: 10px;
}

#nav-mobile a{
	color: #7A7A7C;
}

#search_from{
	position: absolute;
	float: left;
	width: 100%;
	z-index: -999;
}

@media all and (min-device-width:992px){
	.product{
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media all and (max-device-width:992px){
	.product{
		padding-left: 15px;
		padding-right: 15px;
	}
}


@media all and (max-device-width:600px){
	.product{
		padding-left: 5px;
		padding-right: 5px;
	}
}

.logo{
	height: 40px;
	width: 40px;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}
